/*以下由系统设置的自定义样式，不可删除标志*/
/**************系统自定义样式start****************/
/*sys-body-start*/
body{;color:#140101;background-color:#C30D23}
body a{color:#140101}
body a:hover{opacity:0.8}
body a:visited{color:#140101}
body a:hover{color:#141d73}
h2 span.title{color:#C30D23}
h3{color:#C30D23}
h2 span.more{color:#ffffff}

/*sys-body-end*/
/*sys-group-start*/
.plugin_timer{;color:#ffffff}
.plugin_timer a{;color:#ffffff}
.plugin_timer a:visited{;color:#ffffff}
.plugin_timer a:hover{opacity:0.7}
.box-group.box-group-1685{;background-color:#C30D23;color:#ffffff}
.box-group.box-group-1685 a{;color:#ffffff}
.box-group.box-group-1685 a:visited{;color:#ffffff}
.box-group.box-group-1685 a:hover{opacity:0.7}
.box-group.box-group-1733{;color:#ffffff}
.box-group.box-group-1733 a{;color:#ffffff}
.box-group.box-group-1733 a:visited{;color:#ffffff}
.box-group.box-group-1733 a:hover{opacity:0.7}
.box-group.box-group-1699{;background-color:#C30D23;color:#fff9f9}
.box-group.box-group-1699 a{;color:#fff9f9}
.box-group.box-group-1699 a:visited{;color:#fff9f9}
.box-group.box-group-1699 a:hover{opacity:0.7}
.box-group.box-group-1700{;color:#ffffff}
.box-group.box-group-1700 a{;color:#ffffff}
.box-group.box-group-1700 a:visited{;color:#ffffff}
.box-group.box-group-1700 a:hover{opacity:0.7}
.box-group.box-group-1701{;color:#fffbfb}
.box-group.box-group-1701 a{;color:#fffbfb}
.box-group.box-group-1701 a:visited{;color:#fffbfb}
.box-group.box-group-1701 a:hover{opacity:0.7}
.box-group.box-group-1704{;color:#fafafa}
.box-group.box-group-1704 a{;color:#fafafa}
.box-group.box-group-1704 a:visited{;color:#fafafa}
.box-group.box-group-1704 a:hover{opacity:0.7}

/*sys-group-end*/

/*sys-copyright-start*/

/*sys-copyright-end*/

/*sys-mainmenu-start*/
.header{;background:#C30D23 ;width:100%;}
.header .menulist li{;background:#C30D23 repeat top left;color:#ffffff;}
.header .menulist li a,.header .menulist li a:visited,.header .menulist li a:link{;color:#ffffff;}
.header .menulist li:hover,.header .menulist li a:hover{;background:#FF3A5B no-repeat top left;color:#ffffff;}
.header .menulist li span{font-size:px;color:#}
.header .menulist li.noen{line-height:50px}
.header .menulist li.noen a,.header .menulist li.noen a:visited,.header .menulist li.noen a:link{margin-top:0}

/*sys-mainmenu-end*/

/*sys-plugin_register-start*/

/*sys-plugin_register-end*/

/*sys-plugin_copyright-start*/

/*sys-plugin_copyright-end*/

/*sys-plugin_peoplemore-start*/

/*sys-plugin_peoplemore-end*/

/*sys-plugin_agendastyle-start*/
#box_group_1686 .box-slicestyle.box_style0  .agenda-list .agenda-item ul li:after{background:;}
#box_group_1686 .box-slicestyle.box_style0  .agenda-list .tab-nav li{border: 1px solid rgba(255,255,255,0.71);}
#box_group_1686 .box-slicestyle.box_style0  .agenda-list .tab-nav li.on{background: ;color: inherit;}
#box_group_1686 .box-slicestyle.box_style0  .agenda-list .tab-nav li.on::after{border-top: 8px solid ;}
#box_group_1686 .box-slicestyle.box_style0  .agenda-list .agenda-item ul li:before{background:rgba(255,255,255,0.71);}
#box_group_1686 .box-slicestyle.box_style0  .agenda-list .agenda-item.agenda-topic ul li.topic .title{color: ;}

#box_group_1733 .box-slicestyle.box_style0  .agenda-list .agenda-item ul li:after{background: #ffc500;}
#box_group_1733 .box-slicestyle.box_style0  .agenda-list .tab-nav li{border: 1px solid rgba(255,255,255,1);}
#box_group_1733 .box-slicestyle.box_style0  .agenda-list .tab-nav li.on{background: #ffc500;color: inherit;}
#box_group_1733 .box-slicestyle.box_style0  .agenda-list .tab-nav li.on::after{border-top: 8px solid #ffc500;}
#box_group_1733 .box-slicestyle.box_style0  .agenda-list .agenda-item ul li:before{background:rgba(255,255,255,1);}
#box_group_1733 .box-slicestyle.box_style0  .agenda-list .agenda-item.agenda-topic ul li.topic .title{color: #ffc500;}


/*sys-plugin_agendastyle-end*/

/*sys-plugin_newslist2-start*/

/*sys-plugin_newslist2-end*/

/*sys-plugin_qalist-start*/

/*sys-plugin_qalist-end*/

/*sys-plugin_map-start*/

/*sys-plugin_map-end*/

/*sys-plugin_datalist-start*/

/*sys-plugin_datalist-end*/

/*sys-plugin_timer-start*/

/*sys-plugin_timer-end*/

/*sys-plugin_special-start*/

/*sys-plugin_special-end*/

/*sys-plugin_cooperation-start*/

/*sys-plugin_cooperation-end*/

/*sys-plugin_contact-start*/
.box-slicestyle .contact-list li{}
.box-slicestyle .contact-list li div.title{background-}
.box-slicestyle .contact-list li div.title::after{background:;}


/*sys-plugin_contact-end*/


/**************系统自定义样式end****************/